<h1>Let us know you're coming!</h1>
<iframe src="https://docs.google.com/forms/d/1AKUJME1UpgKW3YBQHQ07BSHABUt1O6L2fMRqnbYkFq0/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

<!-- <form>
	<input type="text" placeholder="Name" ng-model="name"autofocus></input>
	<input type="email" placeholder="Email"ng-model="email"></input>
	<input type="text" placeholder="How many" ng-model="numberComing"></input>
	<input type="button" value="Submit" class="btn" ng-click="emailWendy(name, email, numberComing)"></input>
</form> -->